.wrapper {
	width: 100%;
	height: 100%;
}

.header {
	height: 30px;
    border-bottom: 1px solid #d9d9d9;
}

.headerCons {
    height: 30px;
    position: absolute;
    margin-top: -26px;
    right: 0;    
}

.topbarBtnCons {
	border-radius: 0px;
	height: 30px;
	border: 0px;
    color: rgba(121,121,121,1) !important;	
    background: rgb(255, 255, 255)!important;
    float: right;
}

.topbarBtnCons:hover {
    color: #4084f6!important;
}

.fileSearchPane {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 38px;
    height: 100%;
    width: 100%;
    background-color: rgba(55, 55, 55, 0.1);
    text-align: center;
    z-index: 500;
}

.fileSearchPane input {
    border-radius: 0;
    padding: 20px;
}
.fileSearchPaneOption {
    padding:15px 20px;
    cursor: pointer;
    background: white;
    margin: 0 auto;
    text-align: left;
    transition: all .3s;
}
.fileSearchPaneOptionActive {
    background-color: #e7f4fd;
}
.fileSearchPaneOption:hover {
    background-color: #e7f4fd;
}

.uploadInput {
    margin-left: 48px;
    width: 300px;
}

@media screen and (max-width: 400px) {
    .uploadInput {
        margin-left: 0;
    }
}

.myCls{
    height: 89vh;
    overflow: auto;
}
